# python run.py --config=./projects/action_recognition/config.yaml
# zero easy medium hard
general:
  exp_name: test-original-order
  project_name: action_recognition
  save_dir: output
  seed: 17
  max_epochs: 128
  batch_size: 8
  num_workers: 2 

loggers:
- target: pytorch_lightning.loggers.TensorBoardLogger
- target: clearml.Task
  params:
    project_name: ${general.project_name}
    task_name: ${general.exp_name}
    auto_connect_frameworks: True

lightning_model: denk_baseline.lightning_models.ClassificationMulticlassModel

trainer:
  target: pytorch_lightning.Trainer
  params:
    devices: [0]
    check_val_every_n_epoch: 1
    max_epochs: ${general.max_epochs}
    accelerator: gpu
    precision: bf16

model:
  target: projects.action_recognition.model.VJEPA2ForVideoClassification
  params:
    config_name: vit_large # vit_large vit_huge vit_giant vit_giant_384
    num_classes: 7
    # pretrained_name_or_path: ""
    pretrained_name_or_path: ""

criterions:
- target: denk_baseline.losses.FocalWithLogitsFirst
  weight: 1.0
  name: focal
# - target: torch.nn.CrossEntropyLoss
#   weight: 1.0
#   name: ce

optimizers:
- target: torch.optim.AdamW
  params:
    lr: 0.0001
    weight_decay: 0.0001
  scheduler:
    target: denk_baseline.lr_scheduler.LinearWarmupCosineAnnealingLR
    params:
      warmup_epochs: 2
      max_epochs: ${general.max_epochs}
      warmup_start_lr: 0.00005
      eta_min: 0.00001
    
metrics:
- target: torchmetrics.Precision
  name: precision
  params: &torchmetrics_params
    num_classes: 7
    task: multiclass
- target: torchmetrics.Recall
  name: recall
  params:
    <<: *torchmetrics_params
- target: torchmetrics.F1Score
  name: f1score
  params:
    <<: *torchmetrics_params

callbacks:
- target: pytorch_lightning.callbacks.LearningRateMonitor
- target: pytorch_lightning.callbacks.ModelCheckpoint
  params:
    filename: best_f1score-{epoch:03d}-{f1score_valid:3.3f}-{precision_valid:3.3f}-{recall_valid:3.3f}-{total_loss_valid:3.3f}
    monitor: f1score_valid
    mode: max
    save_top_k: 3
    save_last: false
    save_weights_only: false

datasets:
  train:
    target: projects.action_recognition.dataset.ActionsDataset
    params: &dataset_params
      txt_file_path: ""
      data_folder: ""
      target_side: 256
      sample_n_frames: 32
      augs_type: test
      is_train: true
  valid:
    target: projects.action_recognition.dataset.ActionsDataset
    params:
      <<: *dataset_params
      txt_file_path: ""
      augs_type: zero
      is_train: false

dataloaders:
  train:
    target: torch.utils.data.DataLoader
    params: &dataloader_params
      shuffle: false
      batch_size: ${general.batch_size}
      num_workers: ${general.num_workers}
      drop_last: false
      pin_memory: true
    sampler: 
      target: torch.utils.data.RandomSampler
  valid:
    target: torch.utils.data.DataLoader
    params:
      <<: *dataloader_params
    sampler: 
      target: torch.utils.data.SequentialSampler
