general:
  exp_name: aij_baseline
  project_name: aij_2023
  save_dir: outputs
  seed: 42
  max_epochs: 20
  batch_size: 16
  num_workers: 4

loggers:
  - target: pytorch_lightning.loggers.TensorBoardLogger
    params:
      log_graph: true
  - target: pytorch_lightning.loggers.WandbLogger
    params:
      log_model: true

lightning_model: denk_baseline.lightning_models.ClassificationMulticlassModel

trainer:
  target: pytorch_lightning.Trainer
  params:
    max_epochs: ${general.max_epochs}
    accelerator: gpu
    devices: 1
    precision: bf16

model:
  target: projects.aij_2023.models.mobilenetv2.MobileNetV2
  params:
    num_classes: 1001
    frame_count: 16
    sample_size: 224
    temporal_indices: []
    with_two_heads: false

criterions:
  - target: torch.nn.CrossEntropyLoss
    weight: 1.0
    name: ce

optimizers:
  - target: torch.optim.AdamW
    params:
      lr: 0.0001
      weight_decay: 0.0001
    scheduler:
      target: denk_baseline.lr_scheduler.LinearWarmupCosineAnnealingLR
      params:
        warmup_epochs: 2
        max_epochs: ${general.max_epochs}
        warmup_start_lr: 0.00005
        eta_min: 0.00001

metrics:
  - target: torchmetrics.Precision
    name: precision
    params: &torchmetrics_params
      num_classes: 1001
      task: multiclass
      average: macro
  - target: torchmetrics.Recall
    name: recall
    params:
      <<: *torchmetrics_params
  - target: torchmetrics.F1Score
    name: f1score
    params:
      <<: *torchmetrics_params
  - target: denk_baseline.metrics.MeanAccuracyScore
    name: mascore

callbacks:
  - target: pytorch_lightning.callbacks.LearningRateMonitor
  - target: pytorch_lightning.callbacks.ModelCheckpoint
    params:
      filename: best_f1score-{epoch:03d}-{f1score_valid:3.3f}-{precision_valid:3.3f}-{recall_valid:3.3f}-{total_loss_valid:3.3f}
      monitor: f1score_valid
      mode: max
      save_top_k: 3
      save_last: false
      save_weights_only: false

datasets:
  train:
    target: projects.aij_2023.dataset.TrainVideoDataset
    params:
      csv_path: data/aij_2023/train.csv
      json_path: data/aij_2023/classes.json
      video_folder: data/aij_2023/video
      min_side: 256
      sample_size: 224
      sample_stride: 2
      sample_n_frames: 16
      start_delta: 4
      augs_proba: medium
      use_dwt: false
  valid:
    target: projects.aij_2023.dataset.ValidVideoDataset
    params:
      csv_path: data/aij_2023/valid.csv
      json_path: data/aij_2023/classes.json
      video_folder: data/aij_2023/video
      min_side: 256
      sample_size: 224
      sample_stride: 2
      sample_n_frames: 16
      use_dwt: false

dataloaders:
  train:
    target: torch.utils.data.DataLoader
    params: &dataloader_params
      shuffle: false
      batch_size: ${general.batch_size}
      num_workers: ${general.num_workers}
      drop_last: false
      pin_memory: true
    sampler:
      target: torch.utils.data.RandomSampler
  valid:
    target: torch.utils.data.DataLoader
    params:
      <<: *dataloader_params
    sampler:
      target: torch.utils.data.SequentialSampler